[submodule "themes/type"]
	path = themes/type
	url = https://github.com/digitalcraftsman/hugo-type-theme.git
[submodule "public"]
	path = public
	url = git@github.com:digitalgeohack/digitalgeohack.github.io.git
	branch = master
